{{define "about"}}
{{template "header" .}}

<div class="container main about">
    <div class="row">
        <h1>About ACM@UIUC</h1>
    </div>
    <div class="row">
        <h3>General Introduction</h3>
        {{range .About.Content}}
            <p>{{.}}</p>
        {{end}}
        <p>ACM@UIUC is a registered 501(c)(3) non-for-profit organization.</p>
        <p>For more on the history of ACM check out our <a href="/about/history">chapter history page</a></p>
        <br>
    </div>
    <div class="row">
        <h3>Facilites</h3>
        {{range .About.Facilites}}
            <h4>{{.Location}} - {{.Name}}</h4>
            <p>{{.Description}}</p>
        {{end}}
    </div>
    <div class="row">
        <h3>Contacts</h3>
        <div class="small-12 medium-6 large-6 columns">
        {{range .Committees}}
            {{if eq .Name "Top4" "Events"}}
                <div class="group-info">
                    <h4> {{.Name}} </h4>
                    {{range .Members}}
                        <div class="contact-info">
                            <p>
                                <span>
                                    <i> {{.Role}}</i> -
                                    <b> {{.DisplayName}} </b>
                                </span>
                                <br/>
                                <span>
                                    <a href='mailto:' + {{.Email}}> {{.Email}} </a>
                                </span>
                            </p>
                        </div>
                    {{end}}
                </div>
            {{else}}
                <div class="group-info" >
                    <h4> {{.Name}} </h4>
                <div class="contact-info">
                <p>
                    <span>
                        <i> Chair </i> -
                        <b> {{.Chairs}} </b>
                    </span>
                    <br/>
                    <span>
                        <a href='mailto:' +{{.Email}}> {{.Email}} </a>
                    </span>
                </p>
                </div>
            </div>
            {{end}}
        {{end}}
        </div>
        <div class="small-12 medium-6 large-6 columns">
        <h4>Address</h4>
        <address><span>Association for Computing Machinery</span><br/><span>1104 Siebel Center for Computer Science</span><br/><span>201 N Goodwin Avenue</span><br/><span>Urbana, IL 61801</span></address><br/>
        <p>If you have general questions about ACM, you can email us at <a href="mailto:acm@illinois.edu">acm@illinois.edu</a>.</p>
        <h4>Useful Links</h4>
        <ul class="dashed">
            {{range .About.Links}}
                <li><a href="{{.Uri}}">{{.Name}}</a></li>
            {{end}}
        </ul>
        </div>
    </div>
  </div>
  

{{template "footer" .}}
{{end}}