{{define "hackillinois"}}
{{template "header" .}}

<div class="conference-container">
    <div class="row">
        <div class="img-container small-12 medium-12 large-12 column col-centered"><img class="center_img" width="200px" src="/static/images/hack-logo.svg"/></div>
    </div>
    <div class="row">
        <p>{{.Event.Description}}</p>
        <p>For more information, please visit the website: <a href="{{.Event.Website}}">{{.Event.Website}}</a>.</p>
    </div>
    <div class="row title"><span>HackIllinois Website Archives:</span></div>
    <div>
        <div class="top-bar nav">
        <ul class="h-list">
            {{range .Event.WebsiteArchive}}
            <li class="nav-loc">
                <a href="{{.Uri}}"> | {{.Year}} |
            </li>
            {{end}}
        </ul>
        </div>
    </div>
</div>

{{template "footer" .}}
{{end}}