{{define "hackillinois"}}
{{template "header" .}}

<div class="conference-container">
    <div class="row">
        <div class="img-container small-12 medium-12 large-12 column col-centered"><img class="center_img" width="200px" src="/static/images/hack-logo.svg"/></div>
    </div>
    <div class="row">
        <p>
        Established in 2014, HackIllinois is the premier collegiate open source hackathon. 
        With over 1000 attendees and 50 open source mentors in 2019, the hackathon has grown to become one of the largest and most well-regarded in the nation.
        This year, we're proud to welcome you to the 7th annual HackIllinois from February 28 - March 1, 2020, on the Urbana-Champaign campus.
        For more information, please visit the website: <a href="https://hackillinois.org">https://hackillinois.org</a>.
        </p>
    </div>
    <div class="row title"><span>HackIllinois Website Archives:</span></div>
    <div>
        <div class="top-bar nav">
        <ul class="h-list">
            {{range .Editions}}
            <li class="nav-loc">
                <a href="{{.Uri}}"> | {{.Year}} |
            </li>
            {{end}}
        </ul>
        </div>
    </div>
</div>

{{template "footer" .}}
{{end}}