{{define "home"}}
{{template "header" .}}

<div id="head-img"></div>
<div id="home-container" class="row">
<div id="welcome" class="row">
  <div id="term-padding">
  </div>
  <div id="terminal">
    acm@uiuc$ Welcome!
    <span id="shell"></span>
  </div>
</div>
  <div id="main-container" class="small-12 medium-12 large-9 columns">
    <div id="main-feed" class="row">
        <h4>Welcome to ACM@UIUC</h4>
        <p>The Association for Computing Machinery (ACM) has been around for over 50 years and is a student group consisting of a variety of people with diverse backgrounds who share a common interest in computers.</p>
        <a href="/about/history"><button id="history" class="button">More About ACM@UIUC's History</button></a>
        <br>
        <h4>Reflections|Projections</h4>
        <p>One of the largest student tech conferences in the midwest, Reflections|Projections is an annual event that includes speakers from the tech community, a career fair, a startup fair, and a programming competition.</p>
        <a href="https://reflectionsprojections.org/#/"><button id="history" class="button">Check Out R|P</button></a>
        <h4>HackIllinois</h4>
        <p>One of the largest college hackathons and the first college open source hackathon in the nation, HackIllinois draws over a 1000 students to Champaign-Urbana to take part in improving Free and Open Source Software with members of the open source community.</p>
        <a href="https://hackillinois.org"><button id="history" class="button">Check Out HackIllinois</button></a>
        <h4>ACM Open House</h4>
        <p>Held at the beginning of Spring and Fall semesters, this is a great opportunity to learn more about ACM and its various Special Interest Groups (SIGs).</p>
      </p>
    </div>
    <div id="involvement" class="row">
      <div id="main-left" class="small-12 medium-12 large-4 columns">
        <h3>Join ACM</h3>
        <p>As an ACM member you get access to our compute cluster, free black and white printing, Concert, Merch, and many other member perks.</p><a href="/join">
          <button class="button">Join Us</button></a>
      </div>
      <div id="main-center" class="small-12 medium-12 large-4 columns">
        <h3>Special Interest Groups</h3>
        <p>ACM has many Special Interest Groups (SIGs) that work on projects in a wide variety of areas. All SIGs are open to all students, no previous knowledge required!</p><a href="/sigs">
          <button class="button">Learn More</button></a>
      </div>
      <div id="main-right" class="small-12 medium-12 large-4 columns">
        <h3>Sponsors</h3>
        <p>The best way to get involved with ACM@UIUC is to become a part of our corporate sponsorship program!</p><a href="/sponsors">
          <button class="button">Get Involved</button></a>
      </div>
    </div>
  </div>
</div>
<div class="footer_padding">
</div>

{{template "footer" .}}
{{end}}
