{{define "intranet"}}
{{template "header" .}}

<div id="home-container" class="row">
    <div id="main-container" class="small-12 medium-9 large-9 columns">
        <div id="links-top" class="row">
            <div id="main-left" class="small-12 medium-12 large-12 columns">
                <h3>Your information</h3>
                <h5>Hello, {{.Username}}</p>
                <h6>Role(s): |{{range .Roles}} {{.}} |{{end}}</h6>
            </div>
        </div>
        <div class="intranet-card-container">
            {{range .Cards}}
                <div class="intranet-card card">
                    <h3>{{.Title}}</h3>
                    <p>{{.Description}}</p>
                    <a href="{{.Uri}}"><button class="button">Go</button></a>
                </div>
            {{end}}
        </div>
    </div>

    <div id="events-container" class="small-12 medium-12 large-3 columns">
        <div id="events-title" class="row">
            <h2>Links</h2>
        </div>
        <div id="events" class="row">
            <div class="event">
                {{range .Links}}
                    <div class="event">
                        <ul class="dashed">
                            <li><a href="{{.Uri}}">{{.Name}}</a></li>
                        </ul>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
<div class="footer_padding">
</div>

{{template "footer" .}}
{{end}}