{{define "login"}}
{{template "header" .}}

<div id="login-container">
    <div class="row col-centered small-12 medium-4 large-4 login-form">
        <h3>Login</h3>
        {{if not .IsDev}}
        <div>
            <p>
            Student / Faculty ACM@UIUC Members can log into the ACM intranet using their university provided Google account (netid@illinois.edu).
            </p>
            <a href="/api/auth/google">
                <button class="button">Login With Google</button>
            </a>
        </div><br/>
        <div>
            <p>
            Recruiters who sponsor ACM@UIUC can login with their LinkedIn account and request access to view the ACM@UIUC resume book.
            </p>
            <a href="/api/auth/linkedin">
                <button class="button">Login With LinkedIn</button>
            </a>
        </div>
        {{else}}
        <div>
            <p>
            Developers can login with an student authentication bypass when dev mode is enabled
            </p>
            <a href="/api/auth/google/redirect">
                <button class="button">Login With Google</button>
            </a>
        </div>
        <div>
            <p>
            Developers can login with an recruiter authentication bypass when dev mode is enabled
            </p>
            <a href="/api/auth/linkedin/redirect">
                <button class="button">Login With LinkedIn</button>
            </a>
        </div>
        {{end}}
    </div>
</div>

{{template "footer" .}}
{{end}}