{{define "recruitercreator"}}
{{template "header" .}}

<div class="container main row">
    <header>
        <h1>Recruiter Creator</h1>
    </header>
    <p>
    Submitting this form will create an account for the recruiter and allow them to be able to login
    as a recruiter via LinkedIn.
    </p>
    <form id="join" onsubmit="submitRecruiterCreateForm(event)">
        <div class="field-group required">
            <label for="id_first_name" class="field-label">First Name
                <div class="field">
                    <input id="first_name" type="text" name="first_name" maxlength="32"/>
                </div>
            </label>
        </div>
        <div class="field-group required">
            <label for="last_name" class="field-label">Last Name
                <div class="field">
                    <input id="last_name" type="text" name="last_name" maxlength="32"/>
                </div>
            </label>
        </div>
        <div class="field-group required">
            <label for="email" class="field-label">Email (LinkedIn Login)
                <div class="field">
                    <input id="email" type="text" name="email" maxlength="32"/>
                </div>
            </label>
        </div>
        <div class="control-group row">
            <div class="controls">
                <button type="submit" class="button">Create</button>
            </div>
        </div>
    </form>
    <div class="form-buffer">
    </div>
    <script>
        function submitRecruiterCreateForm(event) {
            event.preventDefault();

            data = {
                username: document.getElementById("email").value,
                first_name: document.getElementById("first_name").value,
                last_name: document.getElementById("last_name").value,
            };

            fetch("/api/user", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            }).then(res => {
                return res.json();
            }).then(data => {
                fetch("/api/user/mark", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        username: document.getElementById("email").value,
                        mark: "RECRUITER",
                    }),
                }).then(res => {
                    return res.json();
                }).then(data => {
                    window.location.replace("/intranet/recruitermanager");
                });
            });
        }
    </script>
</div>

{{template "footer" .}}
{{end}}