{{define "redirect"}}
<html>
    <head>
    </head>
    <body>
        <script>
            const code = (new URLSearchParams(window.location.search)).get("code");
            console.log(code);

            const provider = {{.Provider}};
            fetch("/api/auth/" + provider, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    code: code,
                }),
            }).then(res => {
                return res.json();
            }).then(data => {
                console.log(data);
                sessionStorage["token"] = data.token;
            }
            )
        </script>
    </body>
    Verifying Acount...
</html>
{{end}}
