{{define "sponsors"}}
{{template "header" .}}

<div id="sponsor-container">
    <div class="row">
        <h3>Acknowledgement</h3>
        <p>We would like to thank our corporate sponsors for enabling us to accomplish great things.</p>
    </div>
    <div class="row">
        <h1>Sponsor Us</h1>
        <p>{{.Sponsors.Pitch}}</p>
    </div>
    <div class="row">
        <h3>Get Involved</h3>
        <p>{{.Sponsors.GetInvolved}}</p>
        <h3>Sponsorship Tiers</h3>
        {{range .Sponsors.Packages}}
            <h5>{{.Name}} - {{.Price}}</h5>
            <ul class="dashed">
                {{range .Items}}
                    <p1> - {{.}}</p1><br>
                {{end}}
            </ul><br>
        {{end}}
    </div><br/>
</div>

{{template "footer" .}}
{{end}}