{{define "usermanager"}}
{{template "header" .}}

<div id="home-container" class="row">
	<div id="main-container" class="small-12 medium-12 large-12 columns">
		<div id="links-top" class="row">
			<div id="unapproved-users-partial">
                {{if not (eq (len .Users) 0)}}
                    <h2>Members</h2>
                    <table class="table table-striped" id="user-approval-table" class="dynatable-container">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Netid</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>A Member Since</th>
                            <tr>
                        </thead>
                        <tbody>
                            {{range .Users}}
                                <tr>
                                    <td>
                                        {{if eq .Mark "BASIC"}}
                                            <button id="{{.Username}}-mark-btn" type="button" class="button" onClick="markUserAsPaid({{.Username}})">Mark Paid</button>
                                            <p id="{{.Username}}-mark" hidden>PAID</p>
                                        {{else}}
                                            <p>{{.Mark}}</p>
                                        {{end}}
                                    </td>
                                    <td>{{.Username}}</td>
                                    <td>{{.FirstName}}</td>
                                    <td>{{.LastName}}</td>
                                    <td>{{.HumanTimestamp}}</td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{else}}
                        <h5>You have no users. That's a problem.</h5>
                    {{end}}
			 </div>
		</div>
	</div>
</div>
<script>
    function markUserAsPaid(username) {
        fetch("/api/user/mark", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                username: username,
                mark: "PAID",
            }),
        }).then(res => {
            return res.json();
        }).then(data => {
            document.getElementById(username + "-mark-btn").style.display = "none"
            document.getElementById(username + "-mark").hidden = false;
        })
    }
</script>

{{template "footer" .}}
{{end}}